<div class="container" >
    <form [formGroup]="form" (submit)="updateStudents()" class="teachers-input">
        <mat-form-field class="form-field " appearance="outline" color="primary">
            <mat-label> Name
            </mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <button mat-raised-button  type="submit" class="filter-button">Filter</button>
    </form>
    <app-generic-grid [refreshTrigger]="refreshTableTrigger"></app-generic-grid>
</div>
