@import "../../../../styles.scss";

.container{
    padding: $section-container-padding;
    .new-request-button {
        margin-bottom: 1rem;
        background-color: $main-color;
        color: $main-color-contrast;
    }
}