/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//#region Variables 
$section-container-padding: 1rem 1rem 0rem 1rem;
$main-color: #212121;
$main-color-contrast: white;

$secondary-color: #07589f;
$secondary-color-contrast: white;
//#endregion Variables 

//#region Teachers Module 
.teachers-input .mat-form-field-appearance-outline .mat-form-field-flex{
     background-color: $main-color ;
     color: $main-color-contrast;
}
//#endregion Teachers Module 

//#region  avoid deep to change!!
.mat-form-field-appearance-fill .mat-form-field-flex{
     background-color: $main-color;
}
//#endregion  avoid deep to change!!