<h1 mat-dialog-title>Want to enter Hogwarts? {{data.name}}</h1>
<form [formGroup]="form" (submit)="submit()">
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> Identification
        </mat-label>
        <input matInput formControlName="identification" required>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
        <mat-label> Message
        </mat-label>
        <input matInput formControlName="message">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>